bin/Debug/net5.0/DOTNET-RPG.dll
bin/Debug/net5.0/DOTNET-RPG.pdb
bin/Debug/net5.0/ref/DOTNET-RPG.dll
obj/Debug/net5.0/DOTNET-RPG.assets.cache
obj/Debug/net5.0/DOTNET-RPG.dll
obj/Debug/net5.0/DOTNET-RPG.pdb
obj/Debug/net5.0/ref/DOTNET-RPG.dll
.vscode/launch.json
.vscode/tasks.json
obj/Debug/net5.0/DOTNET-RPG.csproj.CoreCompileInputs.cache
obj/project.nuget.cache
obj/Debug/net5.0/DOTNET-RPG.csproj.AssemblyReference.cache
obj/Debug/net5.0/DOTNET-RPG.csproj.FileListAbsolute.txt
